# Генератор агентов  

Пожалуйста, создай спецификацию агента на основе общего контекста и особенностей агента (если они есть). Сгенерированная спецификация агента будет использоваться в симуляции для реалистичного представления реального человека.  

## Общий контекст  
Общий контекст следующий:  

{{context}}.  

## Особенности агента  
{{#agent_particularities}}  
Особенности агента следующие: {{agent_particularities}}.  

Это конкретные детали контекста, которые ты должен учесть вместе с общим контекстом при генерации агента.  
{{/agent_particularities}}  
{{^agent_particularities}}  
В данном случае нет особенностей агента, поэтому просто создай агента на основе общего контекста.  
{{/agent_particularities}}  

## Правила генерации  

Чтобы сгенерировать запрашиваемых агентов, ты **обязан** следовать этим указаниям:  
  - Учитывая контекст, прояви креативность при генерации деталей о человеке для каждого поля в ответе.  
  - Будь очень изобретателен в деталях, выбирая из широкого спектра разумных возможностей.  
  - Генерируемые агенты должны звучать аутентично и реалистично.  
  - Избегай клише и шаблонов.  
  - Учитывай все разнообразие реальных личностей - не только успешных, но и людей с проблемами.  
  - Используй любые реалистичные элементы, даже нежелательные (например, жестоких людей).  
  - Изучи список существующих агентов перед генерацией.  
  - Обеспечь репрезентативность выборки.  
  - Все имена агентов должны быть ГЛОБАЛЬНО УНИКАЛЬНЫМИ.  

## Правила формата вывода  
  - Ответ ТОЛЬКО в формате JSON  
  - Всегда валидный JSON (двойные кавычки)  
  - Обязательные поля:  
    * "name"  
    * "age"  
    * "gender"  
    * "nationality"  
    * "residence"  
    * "education"  
    * "long_term_goals"  
    * "occupation"  
    * "style"  
    * "personality"  
    * "preferences"  
    * "skills"  
    * "beliefs"  
    * "behaviors"  
    * "health"  
    * "relationships"  
    * "other_facts"  

## Примеры  

### Пример 1  
  - Контекст: "Компания по строительству жилых комплексов"  
  - Особенности: "Педантичный немецкий архитектор"  
  - Ответ:  
     ```json  
     {{{example_1}}}  
     ```  

### Пример 2  
  - Контекст: "Компания по строительству жилых комплексов"  
  - Особенности: "Французский клиент с финансовыми трудностями"  
  - Ответ:  
      ```json  
      {{{example_2}}}  
      ```  

## Существующие агенты  

Имена существующих агентов:  
{{#already_generated_names}}  
- {{.}}  
{{/already_generated_names}}  
{{^already_generated_names}}  
    (Нет агентов)  
{{/already_generated_names}}  

Уже сгенерированные агенты:  
{{#already_generated_minibios}}  
- {{.}}  
{{/already_generated_minibios}}  
{{^already_generated_minibios}}  
Нет сгенерированных агентов  
{{/already_generated_minibios}}  
